.root {
  display: inline-flex;
  height: max-content;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  border-radius: 8px;
  box-shadow: var(--shadow-xs);
}

.size-sm {
  padding: 9px 15px;
  font: var(--font-text-sm-semibold);
}

.size-md {
  padding: 9px 17px;
  font: var(--font-text-md-semibold);
}

.variant-primary {
  border-color: var(--color-primary-600);
  background-color: var(--color-primary-600);
  color: var(--color-base-white);
}

.variant-primary:hover {
  background: var(--color-primary-700);
  cursor: pointer;
}

.variant-primary:focus {
  /* Shadow/xs focused 4px primary-100 */
  box-shadow: var(--shadow-xs), 0 0 0 4px var(--color-primary-100);
}

.variant-gray {
  border-color: var(--color-gray-300);
  background-color: var(--color-base-white);
  color: var(--color-gray-700);
}

.variant-gray:hover {
  background: var(--color-gray-50);
  cursor: pointer;
}

.variant-gray:focus {
  /* Shadow/xs focused 4px gray-100 */
  box-shadow: var(--shadow-xs), 0 0 0 4px var(--color-gray-100);
}
