.root {
  display: flex;
  min-width: 375px;
  max-width: 1440px;
  height: 100%;
  min-height: 900px;
  flex-direction: column;
  padding: 64px 16px 0;
  margin: 0 auto;
}

.content {
  margin: 0 auto;
}

.headline {
  margin-bottom: 16px;
  color: var(--color-gray-900);
  font: var(--font-display-md-semibold);
  letter-spacing: -0.02em;
}

.description {
  color: var(--color-gray-600);
  font: var(--font-text-lg-regular);
}

.link {
  color: var(--color-primary-700);
  font: var(--font-text-lg-medium);
  text-decoration: none;
}

.form {
  margin-top: 48px;
}

.label {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

.span {
  margin-bottom: 6px;
  color: var(--color-gray-700);
  font: var(--font-text-sm-medium);
}

.button {
  width: 343px;
  margin-top: 32px;
  color: var(--color-base-white);
  font: var(--font-text-md-semibold);
}

.input {
  width: 343px;
}
