.root {
  display: flex;
  align-items: center;
}

.logo {
  position: relative;
}

.logomark {
  width: 32px;
  height: 32px;
  border: 0.2px solid #d0d5dd;
  border-radius: 8px;
  background: linear-gradient(180deg, var(--color-base-white) 0%, #d0d5dd 100%),
    var(--color-base-white);
}

.logofilter {
  position: absolute;
  bottom: 0;
  border-radius: 0 0 8px 8px;
  backdrop-filter: blur(2.5px);
  background: rgb(255 255 255 / 20%);
}

.text {
  margin-left: 9.5px;
  color: var(--color-gray-900);
  font: var(--font-text-lg-semibold);
}
